@model IEnumerable<ZeyadRagyWebExam.Models.TeamMember>



<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>


		@foreach (var index in Model)
		{
			<tr>
				<td>@index.Id</td>
				<td>@index.Name</td>
				<td>@index.Email</td>
				<td>@index.Role</td>
				<td>
					<form class="d-inline" asp-action="Delete" method="post">
						<input name="id" type="hidden" value="@index.Id" />
						<button class=" btn btn-danger">Delete</button>
					</form>
					<form class="d-inline" asp-action="Edit" method="get">
						<input name="id" type="hidden" value="@index.Id" />
						<button class="btn btn-success">Update</button>
					</form> 
					<form class="d-inline" asp-action="View" method="post">
						<input name="id" type="hidden" value="@index.Id" />
						<button class="btn btn-secondary">View</button>
					</form>
				</td>
			</tr>

		}


	</tbody>
</table>
<h1>
	Create TeamMember
</h1>
<form asp-action="Create" method="post">
	<dev>
		<label>Name</label>
		<input name="Name" />
	</dev>
	<dev>
		<label>Email</label>
		<input name="Email" />
	</dev>
	<dev>
		<label>Role</label>
		<input name="Role" />
	</dev>
	

	<button type="submit" class="btn btn-success">Save</button>
</form>
